<template>
  <div>
    <p>
      <label for="input-name">Name</label>
      <input 
        id="input-name" 
        v-model="person.name" 
        autocomplete="off"
      />
    </p>
    <p v-if="person.validationError.name" class="error-message">{{ person.validationError.name }}</p>
    <p>
      <label for="input-phone">Phone</label>
      <input 
        id="input-phone" 
        v-model="person.phone" 
        autocomplete="off"
      />
    </p>
    <p v-if="person.validationError.phone" class="error-message">{{ person.validationError.phone }}</p>
    <p>
      <button v-on:click="submitForm">Submit</button>
    </p>
    <p>Store: {{ personInStore.name }}, {{ personInStore.phone }}</p>
  </div>
</template>

<script>
import store from "@/store";
import ValidatorPerson from "@/validation/ValidatorPerson";
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      person: { ...this.$store.state.person }
    };
  },
  computed: {
    personInStore: {
      get() {
        return store.state.person;
      },
      set(value) {
        this.$store.commit("updatePerson", value);
      }
    }
  },
  methods: {
    submitForm: function() {
      this.person = new ValidatorPerson(this.person).execute();
      if (this.person.isValid) {
        this.personInStore = this.person;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.error-message {
  color: red;
}
</style>
